<app-header></app-header>
<div class="body">
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                        <h1 class="text-upper text-dark">Welcome to Project Managemant System</h1>
                        <p class="text-dark">With Project Management System (PMS) <br> your Team can easily keep track of the 
                            development of your project, from the early beginning to the end of the project. 
                            PMS is a modern and flexible Web Application that handles all aspects of your project, 
                            from Requirements Analysis, Task Mangement including Taskboard, Meetings (Notice of Meetings, 
                            Minutes of Meetings, etc.), Discussions, Status Reporting, Issue Tracking and Management. 
                            PMS is the only tool you need to handle all aspects of your Project Planning and Management.
                        </p>
                        <button class="btn btn-success me-3" (click)="signUp()">SIGN UP</button>
                        <button class="btn btn-success" (click)="login()">LOGIN</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>